<a href=""><button class="btn btn-primary">Create</button></a>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Số lượng</td>
            <td>Giá</td>
            <td>Đơn vị</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Iphone 13</td>
            <td>10</td>
            <td>$1000</td>
            <td>Chiếc</td>
            <td>
                <a href="#"><button class="btn btn-danger">Delete</button></a>
                <a href="#"><button class="btn btn-success">Edit</button></a>
            </td>
        </tr>
        <tr>
            <td>Iphone 13</td>
            <td>10</td>
            <td>$1000</td>
            <td>Chiếc</td>
            <td>
                <a href="#"><button class="btn btn-danger">Delete</button></a>
                <a href="#"><button class="btn btn-success">Edit</button></a>
            </td>
        </tr>
    </tbody>
</table>
<!--ctr f2 chọn tat ca-->
