<a href=""><button class="btn btn-primary" width="200px">Create</button></a>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Họ Và Tên</td>
            <td>Email</td>
            <td>Dịa Chỉ</td>
            <td>Giới Tính</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nguyen Van Hung</td>
            <td>hungnv@gmail.com</td>
            <td>Phu Xuyen</td>
            <td>Nam</td>
            <td>
                <a href="#"><button class="btn btn-danger">Delete</button></a>
                <a href="#"><button class="btn btn-success">Edit</button></a>
            </td>
        </tr>
        
    </tbody>
</table>
